{% extends 'common.html' %}
{% block title %}Password Reset Done{% endblock title %}
{% block content%}
{% load static %}
<div class="container-fluid" style="margin-top: 20vh; margin-bottom: 20vh;">
    <div class="container">
        <div class="border rounded shadow-lg" style="max-width: 49vw; margin:auto;">
            <div style="height:10vh; width: 40vw; margin: 30px auto;">
                <p>
                    A link to reset your password has been sent to your email addresss.
                    please follow the instruction in the email to reset
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}