{% extends 'common.html' %}
{% block title %}Password Reset{% endblock title %}
{% block content %}
{% load static %}
<div class="container-fluid" style="margin-top: 20vh; margin-bottom: 10vh;">
    <div class="container">
        <div class="border rounded shadow-lg" style="max-width: 49vw; margin:auto;">
            <div style="height:20vh; width: 40vw; margin: 30px auto;">
                <p style="padding:5px;">Please enter your email address to recieve the password reset link</p>
                <form method = "post" class="mb-5">
                    {% csrf_token %}
                    {% load bootstrap %}
                    {{form | bootstrap}}

                    <div class="d-flex justify-content-start" style="margin-top:18px;">
                        <button type="submit" class="btn btn-primary" value="send">Submit</button>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</div>
 
{% endblock content %}