{% extends 'common.html' %}
{% block title %}Login{% endblock title %}
{% block content%}
{% load static %}
<div class="container-fluid" style="margin-top: 20vh; margin-bottom: 20vh;">
    <div class="container">
        <div class="border rounded shadow-lg" style="max-width: 49vw; margin:auto;">
            <div style="height:7vh; width: 40vw; margin: 30px auto;">
                <p>
                    Your password has been reset succesfully
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
